name: CI openapi-sample-emulator

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Install dependencies
        run: go mod tidy

      - name: Build
        run: make build

      - name: Test Coverage
        run: make cover
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v6
        with:
          name: coverage
          path: |
            coverage.out
            coverage.txt
            coverage.html
