#name: Build and Push Container Images

#on:
#  push:
#    branches:
#      - main
#    tags:
#      - "v*"
#  pull_request:
#    branches:
#      - main
#  workflow_dispatch:
#    inputs:
#      ref-name:
#        type: string
#        description: "The ref to build a container image from. For example a tag v23.0.0."
#        required: true
#
#concurrency:
#  group: ${{ github.workflow }}-${{ inputs.ref-name || github.ref }}
#  cancel-in-progress: true
#
#jobs:
#  build:
#    if: ${{ github.repository == 'ozgen/openapi-sample-emulator' }}
#    strategy:
#      fail-fast: false
#      matrix:
#        include:
#          - build:
#              name: default
#    name: Build and Push Container Images (${{ matrix.build.name }})
#    uses: greenbone/workflows/.github/workflows/container-build-push-gea.yml@main
#    with:
#      ref: ${{ inputs.ref-name }}
#      ref-name: ${{ inputs.ref-name }}
#      name: ${{ matrix.build.name }}
#      build-args: ${{ matrix.build.build-args }}
#      prefix: ${{ matrix.build.prefix }}
#      dockerfile: Dockerfile
#      images: |
#        ghcr.io/${{ github.repository }},enable=true
#    secrets: inherit

  # notify:
  #   needs:
  #     - build
  #   if: ${{ !cancelled() && github.event_name != 'pull_request' && github.repository == 'ozgen/openapi-sample-emulator' }}
  #   uses: greenbone/workflows/.github/workflows/notify-mattermost-2nd-gen.yml@main
  #   with:
  #     status: ${{ contains(needs.*.result, 'failure') && 'failure' || 'success' }}
  #   secrets: inherit
